/* game.html layout */

.main {
    display: flex;
}

.sidebar {
    height: 100vh;
    color: white;
    background: #505050;
    width: 225px;
    overflow-y: scroll
}

.chat {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.messages {
    flex-grow: 1;
    padding: 24px 24px 0 24px;
    overflow-y: scroll;
}


/* messages */

.message {
    margin-bottom: 16px;   
    padding: 5px;
}

.joke-heading {
    color: blue;
}

.trivia-heading {
    color: purple;
}

.message-name {
    font-weight: 600;
    font-size: 16px;
    margin-right: 8px;
}

.message-time {
    color: #777;
    font-size: 14px;
}

.message a {
    color: #0070CC;
}

.trivia-answer-button {
    margin: 0 4px 4px 0;
    padding: 6px;
    background: yellow;
    color: black;
    font-size: 15px;
    transition: background .3s ease;
}
.trivia-answer-button:hover {
    border: 1px solid black;
    background: yellow;
    color: black;
}
.trivia-answer-button:disabled {
    cursor: default;
    background: gray;
    color: black;
}

/* Trivia modal */
.modal-body {
    text-align: center;
}
.trivia-correct {
    color: green;
}
.trivia-incorrect {
    color: red;
}


/* compose */

.compose {
    display: flex;
    flex-shrink: 0;
    margin-top: 16px;
    padding: 6px;
}

.compose form {
    display: flex;
    flex-grow: 1;
}

.compose input {
    border: 2px solid black;
    width: 100%;
    padding: 12px;
    flex-grow: 1;
}

.compose button {
    font-size: 14px;
}

.send-message {
    background: black;
    margin-right: 12px;
    border-radius: 0 0.5em 0.5em 0;
}
.send-message:hover {
    color: white;
}

.send-joke {
    background: blue;
    margin-right: 12px;
}
.send-joke:hover {
    color: white;
}

.send-trivia {
    background: purple;
}
.send-trivia:hover {
    color: white;
}
.send-trivia-dropdown .dropdown-menu a {
    font-size: 12px;
    padding-left: 6px;
    padding-right: 6px;
 }


/* sidebar */

.room-title {
    font-weight: 400;
    font-size: 22px;
    background: #2c2f3a;
    padding: 24px;   
}

.list-title {
    font-weight: bold;
    font-size: 18px;
    margin: 12px 0 4px 0;
    text-align: center;
}

.users {
    list-style-type: none;
    font-weight: bold;
    padding: 0 24px 0 24px;
}

.user-name {
    margin-top: 12px;
}

.user-stats {
    font-size: 12px;
    font-weight: lighter;
}