/* room.html layout */

.main {
    display: flex;
}

.sidebar {
    height: 100vh;
    color: white;
    background: black;
    width: 225px;
    overflow-y: scroll
}

.chat {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.messages {
    flex-grow: 1;
    /* padding: 24px 24px 0 24px; */
    padding-top: 16px;
    overflow-y: scroll;
}


/* messages */

.message {
    /* margin-bottom: 16px;    */
    padding: 8px 24px 8px 24px;
    background-color: whitesmoke;
    border-bottom: 2px solid white;
}

/* .message p {
    margin-bottom: 8px;
} */

.message-name {
    font-weight: bold;
    font-size: 20px;
    margin-right: 8px;
}

.message-time {
    color: #777;
    font-size: 14px;
}

.joke-message {
    background-color: lightblue;
}
.joke-punchline-row {
    text-align: right;
}   
.joke-punchline-button {
    padding: 6px;
    background: blue;
    color: white;
    font-size: 15px;
    transition: background .3s ease;
    text-align: right;
    display: inline-block;
}
.joke-punchline-button:hover {
    border: 1px solid white;
    background: blue;
    color: white;
}
.joke-punchline {
    font-weight: bold;
    display: none;
    text-align: right;
}

.trivia-message {
    background-color: lightpink;
}
.trivia-heading {
    padding-bottom: 16px;
}
.trivia-answers {
    /* text-align: center; */
}
.trivia-answer-button {
    margin: 0 6px 6px 0;
    padding: 6px;
    background: #f06330;
    color: black;
    font-size: 15px;
    transition: background .3s ease;
}
.trivia-answer-button:hover {
    border: 1px solid black;
    background: #f06330;
    color: black;
}
.trivia-answer-button:disabled {
    cursor: default;
    background: gray;
    color: black;
}


/* Trivia modal */
.modal-body {
    text-align: center;
    line-height: 1.5;
}
.trivia-correct {
    color: green;
}
.trivia-incorrect {
    color: red;
}


/* compose */

.compose {
    display: flex;
    flex-shrink: 0;
    margin-top: 16px;
    padding: 6px;
}

.compose form {
    display: flex;
    flex-grow: 1;
}

.compose input {
    border: 2px solid black;
    width: 100%;
    padding: 12px;
    flex-grow: 1;
}

.compose button {
    font-size: 14px;
}

.send-message {
    background: black;
    margin-right: 12px;
    border-radius: 0 0.5em 0.5em 0;
}
.send-message:hover {
    color: white;
}

.send-joke {
    background: blue;
    margin-right: 12px;
}
.send-joke:hover {
    color: white;
}

.send-trivia {
    background: #f03030;
}
.send-trivia:hover {
    color: white;
}
.send-trivia-dropdown .dropdown-menu a {
    font-size: 12px;
    padding-left: 6px;
    padding-right: 6px;
 }


/* sidebar */

.sidebar-logo {
    text-align: center;
    padding: 6px 0;
}

.room-title {
    background: #f03030;
    border: 2px solid black;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 12px 0 12px 0;
    text-align: center;
    margin: 0;

}

.list-title {
    font-weight: bold;
    font-size: 18px;
    padding-top: 12px;
    margin: 0;
    text-align: center;
}

.users {
    list-style-type: none;
    font-weight: bold;
    padding: 0 24px 0 24px;
}

.user-name {
    margin-top: 12px;
}

.user-stats {
    font-size: 12px;
    font-weight: lighter;
}